* {
  box-sizing: border-box;
}

header {
  background-color:teal;
  display: flex;
  justify-content: center;
  width: auto;
}
nav {
  display: flex;
  height: 50px;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row; 
  width: auto;
  margin: auto;
  color: turquoise;
}

ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
align-items: flex-start;
width: 800px;

  
}

li {
display: flex;
 width: 100px;
 align-items: center;
 text-align: center;
}


main {
  background-color: salmon;
  width: 906px;
  margin: 30px auto 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  gap: 5;
  
}
main a {
  display: flex;
  color: pink;
  background-color: black;
  padding: 14px;
  border: 10px;
  margin-top: 10px;
  width:max-content
  

}

main img {
  margin-bottom: 30px;
}


footer {
  background-color: pink;
  height: 50px;
  width: auto;
}

article {
height: 400px;
width: 450px;
}

h3 {
  height: 30px;

}

section {
  height: 320px;
  overflow: auto;
}


li a {
 display: block;
 color: white;
 text-align: center;

} 
 li a:hover {
  background-color: sandybrown;

 }
a img {
color: palevioletred;
 }
 
 body {
  background-color: salmon;
 }

div {
  display: block;
  justify-content: flex-end;
  width: 530px;
  height: 510px;
}

#chinook {
  height: 70px;
  width: 200px;
}

#frost {
  height: 160px;
  width: 284px;
}

#shirt {
  height: 160px;
  width: 284px
}

#fish {
  height: 160px;
  width: 284px
}

#hero {
  height: 480px;
  width: 960px;
}

#IG {
  display: flex;
  justify-content: center;
 
  align-items: flex-end;
}